.about {
    &__title {
        @each $styleName, $styleValue in $style-title-h2 {
            #{$styleName}: $styleValue;
            }
        @media (max-width: 767px) {
            text-align: center;
        }
    }
    &__date {
        @each $styleName, $styleValue in $style-text {
            #{$styleName}: $styleValue;
            }
        line-height: 1.5rem;        
        padding: 1rem 0;
        @media (max-width: 767px) {
            text-align: center;
        }
    }
    &__cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-top: 2rem;
        @media (max-width: 767px) {
            text-align: center;
        }
    }
    &__card {
        padding-right: 1.5rem;
        @media (max-width: 767px) {
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
    }
    &__card-img {
        width: 1.8rem;
        height: 1.8rem;
        margin-bottom: 0.8rem;
        transition: all 0.3s linear;
        &:hover {
            transform: scale(1.15);
        }
    }
    &__card-title {
        font-family: 'Roboto', sans-serif;
        font-size: 0.9rem;
        font-weight: 500;
        color: $blue-title;
        @media (max-width: 767px) {
            text-align: center;
        }
    }
    &__card-text {
        font-family: 'Roboto', sans-serif;
        font-size: 0.6rem;
        color: $gray1;
        @media (max-width: 767px) {
            text-align: center;
        }
    }
    &__img {
        padding: 5rem 0;
        @media (max-width: 767px) {
            order: -1;
        }
    }
}