.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.6rem;
    font-weight: 500;
    color: white;
    width: 9rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: $blue-button;
    border: 2px solid $blue-button;
    border-radius: 0.1rem;
    transition: background-color .2s linear, border .1s linear, color .2s linear;
    &:hover {
        background-color: white;
        border: 2px solid $blue-button;
        color: $blue-button;
    }
}

.button-2 {
    font-size: 0.8rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    @media (max-width: 991px) {
        margin: 1.5rem 0.75rem 0 0.75rem;
    }
}

.button-3 {
    font-size: 0.8rem;
    @media (max-width: 767px) {
        margin: 0 auto;
    }
}

.button-4 {
    width: 7.5rem;
    @media (max-width: 575px) {
        margin: 0.6rem auto 0;
    }
}

.button-link {
    text-decoration: none;
}