.features {
    &__img {
        padding: 5rem 0;
        @media (max-width: 767px) {
            justify-content: center;
        }
    }
    &__img img {
        max-width: 24rem;
        max-height: 15.8rem;
    }
    &__text-title {
        @each $styleName, $styleValue in $style-title-h2 {
            #{$styleName}: $styleValue;
            }
        @media (max-width: 767px) {
            text-align: center;
        }
    }
    &__text-date {
        @each $styleName, $styleValue in $style-text {
            #{$styleName}: $styleValue;
            }
        line-height: 1.5rem;        
        padding-top: 0.5rem;
        @media (max-width: 767px) {
            text-align: center;
        }
    }
}